<section class="section text-center">

  <h3 class="h1 py-5 section-title animated fadeIn">
    SKILLS
  </h3>

  <p class="section-description animated fadeIn">I have following skills</p>

  <div>
    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">HTML/CSS</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-bar bg-warning" style="width:96%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInRight">
      <div class="row skill-language">
        <div class="col-md-12">Javascript</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-bar bg-danger" style="width:93%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">CSS & Javascript Frameworks</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-bar bg-success" style="width:90%">
          </div>
        </div>
      </div>
    </div>


    <div class="skill-item animated bounceInRight">
      <div class="row skill-language">
        <div class="col-md-12">CSS Preprocessing | SASS</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-info bg-info" style="width:80%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">Version control | Git</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-info bg-success" style="width:95%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">Responsive Design</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-info bg-warning" style="width:85%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">Testing & Debugging</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-info bg-danger" style="width:84%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInRight">
      <div class="row skill-language">
        <div class="col-md-12">Browser Developer tool</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-info bg-info" style="width:87%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">Building | Automation Tools | Performance</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-info bg-success" style="width:78%">
          </div>
        </div>
      </div>
    </div>

  </div>


</section>
