<section class="section text-center">

  <h3 class="h1 py-5 section-title animated fadeIn">
    SKILLS
  </h3>

  <p class="section-description animated fadeIn">I have following skills</p>

  <div class="">
    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">Javascript</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-bar bg-warning" style="width:96%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInRight">
      <div class="row skill-language">
        <div class="col-md-12">AngularJS | Angular 2+</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-bar bg-danger" style="width:93%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">HTML5 | CSS3 | SASS</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-bar bg-success" style="width:90%">
          </div>
        </div>
      </div>
    </div>


    <div class="skill-item animated bounceInRight">
      <div class="row skill-language">
        <div class="col-md-12">React Native | React</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-info bg-info" style="width:70%">
          </div>
        </div>
      </div>
    </div>

    <div class="skill-item animated bounceInLeft">
      <div class="row skill-language">
        <div class="col-md-12">Responsive design</div>
      </div>
      <div class="col-md-12 skill-progress">
        <div class="progress">
          <div class="progress-info bg-primary" style="width:90%">
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
