.card-body {
  text-align: left;

  h4 {
    font-weight: 500;
  }

  h5 {
    font-weight: 300;
    color: white;
  }

  p {
    font-weight: 200;
  }

  .time {
    margin-bottom: 0;
  }
}

.btn {
  margin: 0;
}

.section-title {
  padding-bottom: 40px !important;
}
