<!--Projects section v.2-->
<section class="section text-center">

  <!--Section heading-->
  <h3 class="h1 py-5 section-title">
    EXPERIENCE
  </h3>

  <hr>

  <!--Grid row-->
  <div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 animated fadeIn">
        <img src="./assets/img/amazon.jpg" class="img-fluid" alt="Sample project image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <div class="card-body animated fadeInUp">
        <h4>AMAZON</h4>
        <h5>Web developer | Angular</h5>
        <p class='time'>October 2017 - Present | 7 mos</p>
        <p>Seattle, WA</p>
        <p>&bull; Working on internal-facing projects for Amazon HR Services (HRS) to manage and keep track of available services
          offered by HRS for global partners.
          <br>&bull; Use Angular 4 for front-end development and Node.js/Express for REST APIs.
          <br>&bull; Use some additional libraries like Plotly.js and pivottable.js to build charts, reports and cross-tab reports.
        </p>
        <a class="btn btn-elegant btn-rounded btn-md" (click)='onClickViewMore("https://amazon.com")'>View more</a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 animated fadeIn">
        <img src="./assets/img/disney.jpg" class="img-fluid" alt="Sample project image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <div class="card-body animated fadeInUp">
        <h4>THE WALT DISNEY COMPANY</h4>
        <h5>Web developer</h5>
        <p class='time'>March 2016 - September 2017 | 1 yr 7 mos</p>
        <p>Seattle, WA</p>
        <p>&bull; Worked on account creation and management system that enables user to have single account for their multiple
          different websites, applications and services across the TWDC organization.
          <br>&bull; Worked on project called
          <strong>Landing Pages</strong> which parent have an access to their child's account and they can make a change to profile
          or change permission of child's certion activities.</p>
        <a class="btn btn-elegant btn-rounded btn-md" (click)='onClickViewMore("https://disney.com")'> View more</a>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 animated fadeIn">
        <img src="./assets/img/fidelity.jpg" class="img-fluid" alt="Sample project image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <div class="card-body animated fadeInUp">
        <h4>FIDELITY INVESTMENTS</h4>
        <h5>AngularJS Developer</h5>
        <p class='time'>June 2015 - March 2016 | 10 mos</p>
        <p>Cary, NC</p>
        <p>&bull; Worked on Single page application with Angular.js which is internal tool for customer service representative
          to manage customer's HSA accounts and generate reports for customers.
          <br>&bull; Developed REST APIs with Jersey Framework to integrate and consume other external services of Fidelity.
        </p>
        <a class="btn btn-elegant btn-rounded btn-md" (click)='onClickViewMore("https://www.fidelity.com/")'> View more</a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-xl-5 mb-3">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 animated fadeIn">
        <img src="./assets/img/mcaa.jpg" class="img-fluid" alt="Sample project image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <div class="card-body animated fadeInUp">
        <h4>CIVIL AVIATION AUTHORITY OF MONGOLIA</h4>
        <h5>Software Engineer</h5>
        <p class='time'>April 2011 - May 2014 | 3 yrs 2 mos</p>
        <p>Ulaanbaatar, Mongolia</p>
        <p>&bull; Developed 32-bit CRC checker application to check all products developed and distributed
          <br>&bull; Developed mobile application with APIs to distribute NOTAM (Notice to Airmen) to flight crew where they
          can see very important information for their flights.
          <br>&bull; Developed alert system using Windows system tray that notifies users when they application receives critical
          data from originators
        </p>
        <a class="btn btn-elegant btn-rounded btn-md" (click)='onClickViewMore("https://ais.mn")'> View more</a>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Projects section v.2-->
