<section class="section text-center">

  <h3 class="h1 py-5 section-title animated fadeIn">
    EDUCATION
  </h3>

  <p class="section-description animated fadeIn"></p>


  <div class="row mb-5 animated bounceInLeft">

    <div class="col-md-4 school-logo pb-3 justify-content-md-center justify-content-lg-end">
      <img src="./assets/img/mum.jpg" class="school-image" alt="Maharishi university of Management">
    </div>

    <div class="col-md-8 school-info">
      <h4>Master's Degree in Computer Science</h4>
      <h6>MAHARISHI UNIVERSITY OF MANAGMENT</h6>
      <p>June 2014 - December 2017</p>
      <p>Fairfield, IA USA</p>
    </div>
  </div>

  <div class="row animated bounceInRight">
    <div class="col-md-4 school-logo pb-3">
      <img src="./assets/img/must.jpg" class="school-image" alt="Mongolian university of Science and Technology">
    </div>

    <div class="col-md-8 school-info">
      <h4>Bachelor's Degree in Computer Science</h4>
      <h6>MONGOLIAN UNIVERSITY OF SCIENCE AND TECHNOLOGY</h6>
      <p>September 2007 - June 2011</p>
      <p>Ulaanbaatar, Mongolia</p>
    </div>
  </div>

</section>
