<section class="section text-center">

  <h3 class="h1 py-5 section-title animated fadeIn">
    SIDE PROJECTS
  </h3>



  <!--Projects section v.1-->
  <section class="section pb-3">

    <!--Section description-->
    <p class="section-description">These are the side projects that I am working on besides my work.</p>

    <!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-r animated slideInLeft">

        <!--Featured image-->
        <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>

          <img src="./assets/img/dog-lovers.jpg" class="project-image" alt="Sample project image">

          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Excerpt-->
        <div class="card-body mt-1">
          <a href="" class="pink-text">
            <h5>
              <i class="fa fa-heart"></i> Lifestyle</h5>
          </a>
          <h4>Dog Lovers</h4>
          <p>I am working on this application to learn React Native. It's kind of virtual dog that user can do things with like,
            walking or feeding etc.</p>
          <a class="btn btn-elegant btn-sm waves-light" mdbRippleRadius>
            <i class="fa fa-clone left"></i> View project</a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-r animated slideInUp">

        <!--Featured image-->
        <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>

          <img src="./assets/img/fast-fingers.jpg" class="project-image" alt="Sample project image">

          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Excerpt-->
        <div class="card-body mt-1">
          <a href="" class="blue-text">
            <h5>
              <i class="fa fa-gamepad"></i> Game</h5>
          </a>
          <h4>Fast Fingers</h4>
          <p>This is very simple game that you can test your finger speed and challenge friends by posting your result on Facebook.</p>
          <a class="btn btn-elegant btn-sm waves-light" mdbRippleRadius>
            <i class="fa fa-clone left"></i> View project</a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-r animated slideInRight">

        <!--Featured image-->
        <div class="view overlay hm-white-slight z-depth-2 waves-light" mdbRippleRadius>

          <img src="./assets/img/meerkat.jpg" class="project-image" alt="Meerkat project image">

          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Excerpt-->
        <div class="card-body mt-1">
          <a href="" class="purple-text">
            <h5>
              <i class="fa fa-plane"></i> Travels</h5>
          </a>
          <h4>Meerkat App</h4>
          <p>
            This is travel tracking application that you can check-in places and take pictures or even take notes of your travel etc.
            Also you can share on social media.
          </p>
          <a class="btn btn-elegant btn-sm waves-light" mdbRippleRadius>
            <i class="fa fa-clone left"></i> View project</a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--/Projects section v.1-->


</section>
