/* You can add global styles to this file, and also import other style files */
html,
body {
  background: black;
}

.section-title {
  font-weight: 200;
  padding-bottom: 0 !important;
}

.section-description {
  padding-bottom: 2rem !important;
}
