<!--Section: Features v.3-->
<section class="section feature-box">

  <!--Grid row-->
  <div class="row features-small pt-4">

    <!--Grid column-->
    <div class="col-lg-5 mb-r col-md-5 center-on-small-only animated zoomIn profile-picture">
      <img src="./assets/img/uuree.jpg" alt="" class="img-fluid z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7 row center-on-small-only align-items-center about-me animated fadeInRight">


      <p class="bio lead">
        <span class='bio-title'>Passionate web developer</span>
        <br>
        <br> My name is
        <strong>Uurtsaikh Batbileg</strong>. I am a front-end engineer (currently living in Seattle WA, USA) who likes to focus on
        client-side
        <strong>UI/UX development</strong> for all devices using web technologies (HTML, CSS &
        <strong>Javascript</strong>).
      </p>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->
