h4 {
  font-weight: bold;
  margin-top: 15px;
}

.btn-floating {
  padding: 5px 10px;
  background-color: white;
  margin: 10px 3px;
}

.col-2 {
  .fa {
    font-size: 35px;
  }
}

.feature-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.bio {
  font-weight: 200;
  font-size: 20px;
  color: #aba9a9;

  .bio-title {
    font-size: 25px;
    font-weight: 400;
  }
}

.profile-picture,
.about-me {
  margin: 0 auto;
}

.features-small {
  margin-left: 0;
  margin-right: 0;
}
